html, body{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#header{
  margin-bottom: 50px;
  background-color: #2F3E4E;
  display : flex; /*Pour aligner les éléments horizontalement*/
  padding : 15px;
  align-items:center;
}

#header #title{
  font-family : "Lucida Console", Monaco, monospace;
  font-size : 30px;
  color: #6BD3B8;
  padding-right : 300px;
}

#header #slogan{
  font-size : 18px;
  color: white;
}

/*--------------------------------*/


#form{
  border-style : groove;
  border-color: white;
  width: 45%;
  margin : auto;
  padding: 30px;
  padding-right : 0;

}

#form label{
  font-family : "Lucida Console", Monaco, monospace;
  font-size : 20px;
  color: #6BD3B8;
}

#form input{
  border-style: none;
  border-bottom: 2px solid;
  border-color: grey;
  font-size : 15px;
  margin-right: 50px;
  margin-top : 20px;
  margin-bottom : 20px;
  padding-bottom: 5px;
}

#form input:hover, #form input:focus{
  border-style: none;
  border-bottom: 2px solid;
  border-color:#6BD3B8;
  font-size : 15px;
  margin-right: 50px;
  margin-top : 20px;
}

#form .js-option{
  margin-left:30px;
  zoom: 1.2;
}

#form #compute{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size:20px;
  background-color: #2F3E4E;
  border-style: solid;
  border-color: #2F3E4E;
  color: #6BD3B8;
  font-family : "Lucida Console", Monaco, monospace;
  border-radius: 12px;
}

#form #compute:hover{
  background-color: #586a7c;
  border-color: #586a7c;
}
